$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*
 * Base structure
 */

body {
  padding-top: 50px;
}
.page-header{
  color: #bbb;
  small{
    color: #ddd;
  }
}
.navbar-fixed-top {
  border: 0;
  display: table;
  width: 100%;
}

.navbar-brand{
  display: table-cell;
  vertical-align: middle;
}
.navbar-brand >.logo {
  max-width: 100%;
  height: 24px;
  display:inline-block;
}

.main {
  padding: 20px 10px 10px;
}

.main .page-header {
  margin-top: 0;
  color: #222;
}

.sidebar .nav-sidebar li{
  display: inline-block;
  a {
    padding: 8px 12px;
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #555;
    .nav-sidebar {
      margin-top: 3em;
      a{
        color: #fff;
      }
      li{
        display: block;
      }
    }
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > li.active > a,
.nav-sidebar > li.active > a:active{
  color: #fff;
  background-color: #d84c78;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


/*****************
DRAWING AND CRYPTO
******************/

.drawContainer, .cryptoContainer, .fbcontainer, .pairsContainer{
  margin: 0;
  padding: 3% 10%;
  text-align: center;
}

canvas {
  background: #ddd;
  margin: 0 auto;
  border-radius: 5px;
  border-bottom: 2px solid #ccc;
  cursor: crosshair;
}

#canvas{
  cursor: default;
  border: 1px solid black;
  margin: 50px auto;
  display: block;
}

#colorSelect {
  p {
    width:90%;
  }
  .modal-dialog {
    width:350px;
  }
}

.cryptoContainer > button {
  margin: 2em 1em;
}

.btnGroup button{
  margin: 1em;
}


.controls ul li {
  list-style: none;
  display: inline-block;
}

#swatch, .controls ul li {
  width: 38px;
  height: 38px;
  margin: 0.5em;
  border-radius: 50%;
  cursor: pointer;
}

.highlight {
  border: 3px solid #ccc;
  outline: none;
}

/***********
FOOTBALL
************/
.cal {
  background: #fff;
  margin: 2em 0;
  padding: 1em;
  width:100%;
}
.nav-tabs  li  a {
  background: #ddd;
}

iframe{
  width: 100%;
  height:400px
}


/************
ABOUT
************/
.fields label {
  display: block;
  margin-bottom: 1.5em;
  font-weight: bold;
}

.fields label input, .fields label select {
  font-weight: normal;
  margin-left: 1em;
}

input.ng-dirty.ng-invalid {
  background: pink;
}

/************
PAIRS
************/
.pairsContainer {
  width: 90%;
  margin: 2em auto;
}

.alertPane{
  height: 60px;
}

.tile{
  background: #666;
  display: inline-block;
  border: 1px solid #fff;
  outline: none;
}

@media (min-width: 768px) {
  .pairsContainer {
    width: 60%;
    margin: 2em auto;
  }
}

.circle{
  background: url("../images/circle-icon/dribbble.png") center no-repeat;
}
.square{
  background: url("../images/square-icon/reddit.png") center no-repeat;
}
